.contact-content {
    background-color:#be7c2a79;
    /* opacity: 0.7; */
    margin-top: -50px;
    padding: 30px 0px;
    width: 75%;
    border-radius: 20px;

}

.text-font {
    font-size: 14px;
}
