.all-heading {
    font-size: 40px;
    font-weight: 100;
}

.icon {
    margin: 10px;
    color: #88B92D;
    font-size: 22px;
}

.topMargin {
    margin-top: 100px;
}

.spinnerSize {
    width: 70px;
    height: 70px;
    margin: 100px;
}

.fontSize {
    font-size: 10px;
}

.google-btn {
    display: block;
    margin: auto;
    margin-bottom: 10px;

}

.google-icon {
    display: block;
    color:  #0F9D58;
    font-size: 22px;
}