.panel-heading {
    color: #E03645;
}
.panel-heading:hover {
    color: #19D3AE;
}

.icon-img {
    width: 32px;
}

.dashboard-link {
    padding: 10px;
    margin: auto;
    border: none;
    width: 100%;
    color: #F2635F;
    border-radius: 20px;
}

.dashboard-link:hover {
    color: #19D3AE;
    background: #FFD661;
}
.hover-icon {
    display: none;
}
.main-dashboard-link:hover .hover-icon{
    display: inline;
}


