.product-card {
    background: #ffff;
    border: none;
    border-radius: 20px;
    padding-bottom: 10px;
}
.product-card:hover {
    box-shadow: 6px 7px 23px 2px rgba(182, 174, 174, 0.473);
    -webkit-box-shadow: 6px 7px 23px 2px rgba(184, 182, 182, 0.69);
    -moz-box-shadow: 6px 7px 23px 2px rgba(202, 188, 188, 0.527);
}

.product-img {
    border-radius: 20px;
}

.product-name:hover {
    color: #4F8CB8;
    cursor: pointer;
}
