.all-bg {
    background-image: url("https://i.im.ge/2021/11/10/oYoG3h.png");
    background-repeat: no-repeat;
    background-blend-mode: overlay;
    background-size: cover;
    background-position: center;
}

.discover-content {
    text-align: left;
    color: white;
}

.discover-Heading {
    letter-spacing: 1px;
}