/*  */
.notFound-bg {
    background-image: url("https://i.im.ge/2021/11/10/oYTIp0.jpg");
    height: 100vh;
    background-repeat: no-repeat;
    background-blend-mode: overlay;
    background-size: cover;
    background-position: center;
}